<div class="ui {{isLoggedIn() && !isVolunteer() || isLoggedIn() && isVolunteer()?'four':'two'}} item tabs menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>

  <a *ngIf="isLoggedIn() && !isVolunteer()" routerLink="lists" routerLinkActive="active" class="item">Meine Einkaufslisten</a>
  <a *ngIf="isLoggedIn() && isVolunteer()" routerLink="lists" routerLinkActive="active" class="item">Einkaufslisten</a>

  <a *ngIf="isLoggedIn() && !isVolunteer()" routerLink="admin" routerLinkActive="active" class="item">Liste erstellen</a>
  <!--a *ngIf="isLoggedIn() && isVolunteer()" routerLink="admin" routerLinkActive="active" class="item">Liste erstellen</a-->

  <a routerLink="login" routerLinkActive="active" class="item">{{getLoginLabel()}}</a>
</div>

<router-outlet></router-outlet>
